/* header start */
nav{ background-color: none;z-index:30; position:absolute; top:0;}
nav img{ width: 150px;}
a.nav-link {color:white; font-weight: bold; }
a.nav-link:hover {color:yellow;}
@media (max-width: 992px) {.navbar-collapse {position: fixed;top: 0px; left: 0; padding-left: 15px; padding-right: 15px; padding-bottom: 15px; width: 45%; height: 100%;}
.navbar-collapse.collapsing {left: -75%; transition: height 0s ease; }
.navbar-collapse.show {left: 0; transition: left 300ms ease-in-out;}
.navbar-toggler.collapsed ~ .navbar-collapse {transition: left 500ms ease-in-out; }
#navbarCollapse{background-color: #313c4e;}
.navbar ul{ padding-top:50px; }
.navbar-toggler{border:none; }}
@media (max-width: 457px) {.navbar-collapse { width: 69%; }}
nav .active a{color:yellow;}
nav .active .dropdown-content a{color:rgb(7, 7, 2);}
nav .active .dropdown-content a:hover{color:rgb(255, 255, 255);}
#logo-img:hover {content: url('images/logo3.png'); }
.dropdown-content { display: none; position: absolute; background-color: rgba(255, 255, 255, 0.6);  min-width: 110px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1;}
.dropdown-content a {color: black;padding: 8px 16px; text-decoration: none; display: block; }
.dropdown-content a:hover { background-color: rgb(47, 42, 112);  color:white;}
.dropdown:hover .dropdown-content {display: block;}
@media(max-width:992px){ .nav-item:nth-child(2):hover{padding-bottom: 80px;}
.nav-item:nth-child(3):hover{padding-bottom: 80px; }
.nav-item:nth-child(4):hover{padding-bottom: 160px;}
.nav-item:nth-child(6):hover{padding-bottom: 80px;} }
  /*header end */  

/* footer start */
/* footer{position: relative;top:130px;} */
.f-section1{background-color: #252E3E;}
.f-section1 img{padding-left:100px;}
@media(max-width:545px){.f-section1 img{padding-left:10px;}}
/* section2 */
h5{ color:white;}
footer { width:100%; background-color:#313c4e; min-height:250px; }
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }
.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {list-style-type:none; padding:0px; display:table; margin-top: 10px; margin-right: auto; margin-bottom: 10px; margin-left: auto;}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}
@media(max-width:454px){.foote_bottom_ul_amrc li a { margin:0 5px;}}
@media(max-width:370px){.foote_bottom_ul_amrc li a { font-size:12px;}}
.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none; padding-left:0; }
.social_footer_ul li { padding-left:10px;padding-right:10px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}
.f-section3{ background-color: #252E3E; color:white; padding: 20px 0;} /* section3 */
/* footer end */


/* --------------------------------section1-------------------------- */
.section1{ width:100%;}
.section1 h1{height: 290px; padding-top: 150px; margin-top:0; color: white; font-weight: bold; padding-left:10%;}
.section1 .text-container{background-image: url('images/bg.jpg'); background-size:cover; background-repeat: no-repeat; width:100%; overflow:hidden; position:absolute; top:0; left:0; z-index:-1;}
/*  -----------navbar3---- */
.navbar3{position:relative; top:130px;}
.navbar3 ul { list-style-type: none; margin: 0; padding: 0; overflow: hidden; border: 1px solid #e7e7e7; background-color: #f3f3f3;}
.navbar3 li {float: left;}
.navbar3 li a { display: block; color: rgb(0, 0, 0); text-align: center; padding: 14px 16px; text-decoration: none;}
.navbar3 a i{padding-right:15px;}
@media(max-width:459px){.navbar3 li a{padding:14px 7px;}}
@media(max-width:402px){.navbar3 li a{padding:14px 5px; font-size:14px;} .navbar3 a i{padding-right:0px;}}

/* ----------------------------section1 end--------------------------- */

/* ------------------------------section2------------------------------ */
#section2{
  position: relative;
  top:130px;
  }
  
  /* --------------------------------section2 end------------------------- */


/* academics page start  */
.academics{
    /* margin-top: 20px; */
    background-color: #f2f2f2;
}

.main-timeline{
    padding-top: 50px;
    overflow: hidden;
    position: relative;
}
.main-timeline:before{
    content: "";
    width: 7px;
    height: 100%;
    background: #084772;
    margin: 0 auto;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
}
.main-timeline .timeline{
    width: 50%;
    float: left;
    padding: 20px 60px;
    border-top: 7px solid #084772;
    border-right: 7px solid #084772;
    border-radius: 0 30px 0 0;
    position: relative;
    right: -3.5px;
}
.main-timeline .icon{
    display: block;
    width: 50px;
    height: 50px;
    line-height:50px;
    border-radius: 50%;
    background: #e84c47;
    border: 1px solid #fff;
    text-align: center;
    font-size: 25px;
    color: #fff;
    box-shadow: 0 0 0 2px #e84c47;
    position: absolute;
    top: -30px;
    left: 0;
}
.main-timeline .timeline-content{
    display: block;
    padding: 30px 10px 10px;
    border-radius: 20px;
    background: #e84c47;
    color: #fff;
    position: relative;
}
.main-timeline .timeline-content:hover{
    text-decoration: none;
    color: #fff;
}
.main-timeline .timeline-content:before,
.main-timeline .timeline-content:after{
    content: "";
    display: block;
    width: 10px;
    height: 50px;
    border-radius: 10px;
    background: #e84c47;
    border: 1px solid #fff;
    position: absolute;
    top: -35px;
    left: 50px;
}
.main-timeline .timeline-content:after{
    left: auto;
    right: 50px;
}
.main-timeline .title{
    font-size: 24px;
    margin: 0;
}
.main-timeline .description{
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0 0 5px 0;
}
.main-timeline .timeline:nth-child(2n){
    border-right: none;
    border-left: 7px solid #084772;
    border-radius: 30px 0 0 0;
    right: auto;
    left: -3.5px;
}
.main-timeline .timeline:nth-child(2n) .icon{
    left: auto;
    right: 0;
}
.main-timeline .timeline:nth-child(2){ margin-top: 130px; }
.main-timeline .timeline:nth-child(odd){ margin: -130px 0 30px 0; }
.main-timeline .timeline:nth-child(even){ margin-bottom: 80px; }
.main-timeline .timeline:first-child,
.main-timeline .timeline:last-child:nth-child(even){ margin: 0 0 30px 0; }
.main-timeline .timeline:nth-child(2n) .timeline-content,
.main-timeline .timeline:nth-child(2n) .timeline-content:before,
.main-timeline .timeline:nth-child(2n) .timeline-content:after,
.main-timeline .timeline:nth-child(2n) .icon{ background: #4bd9bf; }
.main-timeline .timeline:nth-child(2n) .icon{ box-shadow: 0 0 0 2px #4bd9bf; }
.main-timeline .timeline:nth-child(3n) .timeline-content,
.main-timeline .timeline:nth-child(3n) .timeline-content:before,
.main-timeline .timeline:nth-child(3n) .timeline-content:after,
.main-timeline .timeline:nth-child(3n) .icon{ background: #ff9e09; }
.main-timeline .timeline:nth-child(3n) .icon{ box-shadow: 0 0 0 2px #ff9e09; }
.main-timeline .timeline:nth-child(4n) .timeline-content,
.main-timeline .timeline:nth-child(4n) .timeline-content:before,
.main-timeline .timeline:nth-child(4n) .timeline-content:after,
.main-timeline .timeline:nth-child(4n) .icon{ background: #3ebae7; }
.main-timeline .timeline:nth-child(4n) .icon{ box-shadow: 0 0 0 2px #3ebae7; }
@media only screen and (max-width: 767px){
    .main-timeline:before{
        left: 0;
        right: auto;
    }
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even),
    .main-timeline .timeline:nth-child(odd){
        width: 100%;
        float: none;
        padding: 20px 30px;
        margin: 0 0 30px 0;
        border-right: none;
        border-left: 7px solid #084772;
        border-radius: 30px 0 0 0;
        right: auto;
        left: 0;
    }
    .main-timeline .icon{
        left: auto;
        right: 0;
    }
}
@media only screen and (max-width: 480px){
    .main-timeline .title{ font-size: 18px; }
}
/* academics page end  */