/* header start */
nav{ background-color: none;z-index:30; position:absolute; top:0;}
nav img{ width: 150px;}
a.nav-link {color:white; font-weight: bold; }
a.nav-link:hover {color:yellow;}
@media (max-width: 992px) {.navbar-collapse {position: fixed;top: 0px; left: 0; padding-left: 15px; padding-right: 15px; padding-bottom: 15px; width: 45%; height: 100%;}
.navbar-collapse.collapsing {left: -75%; transition: height 0s ease; }
.navbar-collapse.show {left: 0; transition: left 300ms ease-in-out;}
.navbar-toggler.collapsed ~ .navbar-collapse {transition: left 500ms ease-in-out; }
#navbarCollapse{background-color: #313c4e;}
.navbar ul{ padding-top:50px; }
.navbar-toggler{border:none; }}
@media (max-width: 457px) {.navbar-collapse { width: 69%; }}
nav .active a{color:yellow;}
nav .active .dropdown-content a{color:rgb(7, 7, 2);}
nav .active .dropdown-content a:hover{color:rgb(255, 255, 255);}
#logo-img:hover {content: url('images/logo3.png'); }
.dropdown-content { display: none; position: absolute; background-color: rgba(255, 255, 255, 0.6);  min-width: 110px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1;}
.dropdown-content a {color: black;padding: 8px 16px; text-decoration: none; display: block; }
.dropdown-content a:hover { background-color: rgb(47, 42, 112);  color:white;}
.dropdown:hover .dropdown-content {display: block;}
@media(max-width:992px){ .nav-item:nth-child(2):hover{padding-bottom: 80px;}
.nav-item:nth-child(3):hover{padding-bottom: 80px; }
.nav-item:nth-child(4):hover{padding-bottom: 160px;}
.nav-item:nth-child(6):hover{padding-bottom: 80px;} }
  /*header end */  

/* footer start */
.f-section1{background-color: #252E3E;}
.f-section1 img{padding-left:100px;}
@media(max-width:545px){.f-section1 img{padding-left:10px;}}
/* section2 */
h5{ color:white;}
footer { width:100%; background-color:#313c4e; min-height:250px; }
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }
.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {list-style-type:none; padding:0px; display:table; margin-top: 10px; margin-right: auto; margin-bottom: 10px; margin-left: auto;}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}
@media(max-width:454px){.foote_bottom_ul_amrc li a { margin:0 5px;}}
@media(max-width:370px){.foote_bottom_ul_amrc li a { font-size:12px;}}
.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none; padding-left:0; }
.social_footer_ul li { padding-left:10px;padding-right:10px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}
.f-section3{ background-color: #252E3E; color:white; padding: 20px 0;} /* section3 */
/* footer end */


/* --------------------------------section1-------------------------- */
.section1{ width:100%;}
.section1 h1{height: 290px; padding-top: 150px; margin-top:0; color: white; font-weight: bold; padding-left:10%;}
.section1 .text-container{background-image: url('images/bg1.jpg'); background-size:cover; background-repeat: no-repeat; width:100%; overflow:hidden; position:absolute; top:0; left:0; z-index:-1;}
/*  -----------navbar3---- */
.navbar3{position:relative; top:130px;}
.navbar3 ul { list-style-type: none; margin: 0; padding: 0; overflow: hidden; border: 1px solid #e7e7e7; background-color: #f3f3f3;}
.navbar3 li {float: left;}
.navbar3 li a { display: block; color: rgb(0, 0, 0); text-align: center; padding: 14px 16px; text-decoration: none;}
.navbar3 a i{padding-right:15px;}
@media(max-width:459px){.navbar3 li a{padding:14px 7px;}}
@media(max-width:402px){.navbar3 li a{padding:14px 5px; font-size:14px;} .navbar3 a i{padding-right:0px;}}

/* ----------------------------section1 end--------------------------- */

/* ------------------------------section2------------------------------ */
#section2{
    padding-top:180px;
  }
  
  /* --------------------------------section2 end------------------------- */

/* announcment page start  */
/******************* Timeline Demo - 5 *****************/
.main-timeline5{overflow:hidden;position:relative}
.main-timeline5 .timeline{position:relative;
    /* margin-top:-79px */
}
.main-timeline5 .timeline:first-child{margin-top:0}
.main-timeline5 .timeline-icon,.main-timeline5 .year{margin:auto;position:absolute;top:0;left:0;bottom:0;right:0}
.main-timeline5 .timeline:after,.main-timeline5 .timeline:before{content:"";display:block;width:100%;clear:both}
.main-timeline5 .timeline:before{content:"";width:100%;height:100%;box-shadow:-8px 0 5px -5px rgba(0,0,0,.5) inset;position:absolute;top:0;right:0;z-index:2}
.main-timeline5 .timeline-icon{width:210px;height:210px;border-radius:50%;border:25px solid transparent;border-top-color:#f44556;border-right-color:#f44556;z-index:1;transform:rotate(45deg)}
.main-timeline5 .year{display:block;width:110px;height:110px;line-height:110px;border-radius:50%;background:#fff;box-shadow:0 0 20px rgba(0,0,0,.4);font-size:30px;font-weight:700;color:#f44556;text-align:center;transform:rotate(-45deg)}
.main-timeline5 .timeline-content{width:35%;float:right;background:#f44556;padding:30px 20px;margin:50px 0;z-index:1;position:relative}
.main-timeline5 .timeline-content:before{content:"";width:20%;height:15px;background:#f44556;position:absolute;top:50%;left:-20%;z-index:-1;transform:translateY(-50%)}
.main-timeline5 .title{font-size:20px;font-weight:700;color:#fff;margin:0 0 10px}
.main-timeline5 .description{font-size:16px;color:#fff;line-height:24px;margin:0}
.main-timeline5 .timeline:nth-child(2n):before{box-shadow:8px 0 5px -5px rgba(0,0,0,.5) inset}
.main-timeline5 .timeline:nth-child(2n) .timeline-icon{transform:rotate(-135deg);border-top-color:#e97e2e;border-right-color:#e97e2e}
.main-timeline5 .timeline:nth-child(2n) .year{transform:rotate(135deg);color:#e97e2e}
.main-timeline5 .timeline:nth-child(2n) .timeline-content{float:left}
.main-timeline5 .timeline:nth-child(2n) .timeline-content:before{left:auto;right:-20%}
.main-timeline5 .timeline:nth-child(2n) .timeline-content,.main-timeline5 .timeline:nth-child(2n) .timeline-content:before{background:#e97e2e}
.main-timeline5 .timeline:nth-child(3n) .timeline-icon{border-top-color:#13afae;border-right-color:#13afae}
.main-timeline5 .timeline:nth-child(3n) .year{color:#13afae}
.main-timeline5 .timeline:nth-child(3n) .timeline-content,.main-timeline5 .timeline:nth-child(3n) .timeline-content:before{background:#13afae}
.main-timeline5 .timeline:nth-child(4n) .timeline-icon{border-top-color:#105572;border-right-color:#105572}
.main-timeline5 .timeline:nth-child(4n) .year{color:#105572}
.main-timeline5 .timeline:nth-child(4n) .timeline-content,.main-timeline5 .timeline:nth-child(4n) .timeline-content:before{background:#105572}
.announcment{margin-top: 20px;}
@media only screen and (max-width:1199px){.main-timeline5 .timeline{margin-top:-103px}
.main-timeline5 .timeline-content:before{left:-18%}
.main-timeline5 .timeline:nth-child(2n) .timeline-content:before{right:-18%}
}
@media only screen and (max-width:990px){.main-timeline5 .timeline{margin-top:-127px}
.main-timeline5 .timeline-content:before{left:-2%}
.main-timeline5 .timeline:nth-child(2n) .timeline-content:before{right:-2%}
}
@media only screen and (max-width:767px){.main-timeline5 .timeline{margin-top:0;overflow:hidden}
.main-timeline5 .timeline:before,.main-timeline5 .timeline:nth-child(2n):before{box-shadow:none}
.main-timeline5 .timeline-icon,.main-timeline5 .timeline:nth-child(2n) .timeline-icon{margin-top:-30px;margin-bottom:20px;position:relative;transform:rotate(135deg)}
.main-timeline5 .timeline:nth-child(2n) .year,.main-timeline5 .year{transform:rotate(-135deg)}
.main-timeline5 .timeline-content,.main-timeline5 .timeline:nth-child(2n) .timeline-content{width:100%;float:none;border-radius:0 0 20px 20px;text-align:center;padding:25px 20px;margin:0 auto}
.main-timeline5 .timeline-content:before,.main-timeline5 .timeline:nth-child(2n) .timeline-content:before{width:15px;height:25px;position:absolute;top:-22px;left:50%;z-index:-1;transform:translate(-50%,0)}
} 

/* announcment page end */